# Object files
*.o
*.ko
*.obj
*.elf
*~
*.c~

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
src/practica2/sh
src/practica4/fcfs
src/practica4/proceso
src/practica4/sjf
src/practica4/mfq
*.c~


#binaries
main
dummygetty
init
Getty
getty
main_pthreads
main_clone
main_just_cache

# Debug files
*.dSYM/

# Other
src/practica1/
src/bookexercises/

*.bmp
