# Object files
*.o
*.ko
*.obj
*.elf
*~
*.c~

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
src/exercises
src/practica2/sh
src/practica4/fcfs
src/practica4/mfq
src/practica4/proceso
src/practica4/sjf
src/practica4/schedulerRR
src/practica5/hw_solution_processes
src/practica5/hw_solution_threads
src/practica5/semaphore_solution
src/practica6/semaphore_solution
src/practica6/msg_solution
src/practica7/createswap
src/practica7/swap
src/practica7/processes
src/practica7/processes_swap
!src/practica7/mmu.o
!src/practica7/mmu32.o
*.c~
src/practica8/disco0.vd
src/practica8/dumpsec
src/practica8/dumpseclog
src/practica8/write
src/practica8/writeinsector.c
src/practica8/vdfdisk
src/practica8/vdformat
src/practica8/createvd
src/practica8/shell
!src/practica8/vdisk.o


#binaries
main
dummygetty
init
Getty
getty
main_pthreads
main_clone
main_just_cache

# Debug files
*.dSYM/

# Other
src/practica1/
src/bookexercises/

.bmp
